Repository BralaBee-LEIT/usf_fabric_cicd_codebase, changes with the owners that .github/CODEOWNERS names for each.
All owners: @your-org/data-team, @your-org/bi-team, @your-org/governance-team, @your-org/integration-team, @your-org/platform-team, @your-org/devops-team

chore: Add governance directory structure for future use
  governance/data_contracts/README.md
  governance/dq_rules/README.md
Owners: @your-org/governance-team

fix: Allow TruffleHog to continue on merge commits
  .github/workflows/security-scan.yml
Owners: none

style: Format all Python files with Black
  ops/scripts/check_notebook_outputs.py
  ops/scripts/deploy_fabric.py
  ops/scripts/health_check_fabric.py
  ops/scripts/manage_fabric_items.py
  ops/scripts/manage_workspaces.py
  ops/scripts/onboard_data_product.py
  ops/scripts/run_dq_gate.py
  ops/scripts/sync_fabric_git.py
  ops/scripts/trigger_purview_scan.py
  ops/scripts/utilities/audit_logger.py
  ops/scripts/utilities/config_manager.py
  ops/scripts/utilities/constants.py
  ops/scripts/utilities/environment_config.py
  ops/scripts/utilities/fabric_api.py
  ops/scripts/utilities/fabric_deployment_pipeline.py
  ops/scripts/utilities/fabric_git_connector.py
  ops/scripts/utilities/fabric_item_manager.py
  ops/scripts/utilities/item_naming_validator.py
  ops/scripts/utilities/output.py
  ops/scripts/utilities/package_bundle.py
  ops/scripts/utilities/powerbi_api.py
  ops/scripts/utilities/purview_api.py
  ops/scripts/utilities/security_utils.py
  ops/scripts/utilities/workspace_manager.py
  ops/scripts/validate_data_contracts.py
  ops/scripts/validate_dq_rules.py
  ops/scripts/validate_fabric_artifacts.py
  ops/tests/conftest.py
  ops/tests/test_config_manager.py
  ops/tests/test_onboard_data_product.py
  ops/tests/test_validators.py
  ops/tests/test_workspace_manager.py
Owners: @your-org/devops-team

fix: Remove hard exit from Black check and add file existence checks for artifact uploads
  .github/workflows/fabric-cicd-pipeline.yml
Owners: none

fix: Temporarily ignore flake8 style violations
  .github/workflows/fabric-cicd-pipeline.yml
Owners: none

fix: Use correct output format for data contracts validation
  .github/workflows/fabric-cicd-pipeline.yml
Owners: none

fix: Add security-events permission and allow Trivy upload to fail
  .github/workflows/fabric-cicd-pipeline.yml
Owners: none

fix: Add nbformat dependency for notebook validation
  ops/requirements.txt
Owners: @your-org/devops-team

fix: Add PYTHONPATH and mock Azure credentials for unit tests
  .github/workflows/fabric-cicd-pipeline.yml
Owners: none

fix: Add GIT_ORGANIZATION and GIT_REPOSITORY env vars for tests
  .github/workflows/fabric-cicd-pipeline.yml
Owners: none

fix: Resolve all 6 remaining test failures
  ops/scripts/utilities/audit_logger.py
  ops/scripts/validate_dq_rules.py
  ops/tests/test_workspace_manager.py
Owners: @your-org/devops-team

style: Format test_workspace_manager.py with Black
  ops/tests/test_workspace_manager.py
Owners: @your-org/devops-team

fix: Update test_delete_workspace API path assertion
  ops/tests/test_workspace_manager.py
Owners: @your-org/devops-team

fix: Remove unsupported package_bundle.py arguments and make manifest generation optional
  .github/workflows/fabric-cicd-pipeline.yml
Owners: none

fix: Update all scenarios to reflect current state
  scenarios/config-driven-workspace/config_driven_workspace.py
  scenarios/domain-workspace/domain_workspace_with_existing_items.py
  scenarios/leit-ricoh-fresh-setup/leit_ricoh_fresh_setup.py
Owners: none

docs: Update config-driven-workspace README with accurate Trial capacity behavior
  scenarios/config-driven-workspace/README.md
Owners: none

docs: Add comprehensive scenario test report and update main README
  README.md
  config/principals/analytics_dev_principals.txt
  config/setup-logs/analytics_dev_setup_log.json
  data_products/registry.json
  scenarios/SCENARIO_TEST_REPORT.md
Owners: none

docs: Update Trial capacity documentation to reflect tested behavior
  PROJECT_LESSONS_LEARNED.md
  WORKSPACE_PROVISIONING_GUIDE.md
Owners: none

refactor: Consolidate documentation into docs/archive/
  docs/archive/CICD_PROCESS_DEMONSTRATION.md
  docs/archive/CODEBASE_REVIEW.md
  docs/archive/CONFIGURATION_GUIDE.md
  docs/archive/CROSS_CHECK_REPORT.md
  docs/archive/DATA_CONTRACTS_MULTI_FILE_IMPLEMENTATION.md
  docs/archive/DETAILED_IMPLEMENTATION_GUIDE.md
  docs/archive/DQ_RULES_MULTI_FILE_IMPLEMENTATION.md
  docs/archive/ENVIRONMENT_SETUP.md
  docs/archive/FABRIC_CICD_IMPLEMENTATION_GUIDE.md
  docs/archive/FABRIC_FEDERATION_GOVERNANCE_FRAMEWORK.md
  docs/archive/FABRIC_GOVERNANCE_IMPLEMENTATION_GUIDE.md
  docs/archive/FABRIC_ITEM_CRUD_DESIGN.md
  docs/archive/IMPLEMENTATION_COMPLETE.md
  docs/archive/IMPLEMENTATION_SUMMARY.md
  docs/archive/IMPROVEMENTS_IMPLEMENTATION_SUMMARY.md
  docs/archive/LIVE_FABRIC_RUN_GUIDE.md
  docs/archive/MAINTENANCE_IMPROVEMENTS.md
  docs/archive/MAINTENANCE_IMPROVEMENTS_COMPLETE.md
  docs/archive/PLACEHOLDER_IMPLEMENTATIONS.md
  docs/archive/PROJECT_OVERVIEW.md
  docs/archive/QUALITY_AUDIT_REPORT.md
  docs/archive/README.md
  docs/archive/REAL_FABRIC_EXECUTION_GUIDE.md
  docs/archive/WORKSPACE_MANAGEMENT_GUIDE.md
  docs/archive/WORKSPACE_MANAGEMENT_IMPLEMENTATION.md
  docs/archive/WORKSPACE_TEMPLATING_GUIDE.md
  docs/archive/bulk functionalities documentation/BULK_DELETE_COMMIT_SUMMARY.md
  docs/archive/bulk functionalities documentation/BULK_DELETE_INTEGRATION.md
  docs/archive/bulk functionalities documentation/BULK_DELETE_QUICKREF.md
  docs/archive/bulk functionalities documentation/BULK_DELETE_README.md
  docs/archive/new_org_and_requirements/DEPLOYMENT_PREREQUISITES.md
  docs/archive/new_org_and_requirements/EXECUTIVE_DEPLOYMENT_SUMMARY.md
  docs/archive/new_org_and_requirements/NEW_ORG_START_HERE.md
  docs/archive/new_org_and_requirements/PREREQUISITES_CHECKLIST.md
  docs/archive/workspace_templating_design.md
  scenarios/feature-branch-workflow/product_descriptor.yaml
Owners: none

refactor: Convert feature-branch-workflow test script from bash to Python
  USER_STORY_1_ASSESSMENT.md
  scenarios/README.md
  scenarios/feature-branch-workflow/QUICK_REFERENCE.md
  scenarios/feature-branch-workflow/SCENARIO_CREATION_SUMMARY.md
  scenarios/feature-branch-workflow/test_feature_workflow.py
  scenarios/feature-branch-workflow/test_feature_workflow.sh
Owners: none

fix: Add missing product_descriptor.yaml and quick validation script
  scenarios/feature-branch-workflow/product_descriptor.yaml
  scenarios/feature-branch-workflow/test_feature_workflow.py
  scenarios/feature-branch-workflow/validate_scenario.py
Owners: none

fix: Add dotenv support to load environment variables
  scenarios/feature-branch-workflow/test_feature_workflow.py
Owners: none

fix: Improve path handling and git branch detection
  data_products/registry.json
  scenarios/feature-branch-workflow/test_feature_workflow.py
Owners: none

fix: Correct git branch name format for verification
  data_products/registry.json
  scenarios/feature-branch-workflow/test_feature_workflow.py
Owners: none

fix: Disable YAML schema validation for product_descriptor
  scenarios/feature-branch-workflow/product_descriptor.yaml
Owners: none

docs: Reorganize markdown files into logical folders
  README.md
  docs/README_DOCS.md
  docs/development-maintenance/CONFIG_DRIVEN_WORKSPACE_SUMMARY.md
  docs/development-maintenance/FEATURE_SUMMARY.md
  docs/development-maintenance/GIT_UPDATE_SUMMARY.md
  docs/development-maintenance/PROJECT_LESSONS_LEARNED.md
  docs/guides/BULK_USER_QUICKSTART.md
  docs/guides/IMPLEMENTATION_GUIDE.md
  docs/guides/WORKSPACE_PROVISIONING_GUIDE.md
  docs/user-stories-validation/USER_STORY_1_ASSESSMENT.md
  scenarios/domain-workspace/DOMAIN_WORKSPACE_GUIDE.md
  tools/README.md
Owners: none

feat: Transform into reusable framework template
  .env.example
  .gitignore
  README.md
  TEMPLATE_QUICKSTART.md
  WORKSPACE_PROVISIONING_GUIDE.pdf
  docs/getting-started/NEW_PROJECT_SETUP.md
  init_new_project.py
  project.config.template.json
Owners: none

feat: Add automated deployment scenario
  scenarios/automated-deployment/README.md
  scenarios/automated-deployment/product_config.yaml
  scenarios/automated-deployment/run_automated_deployment.py
Owners: none

docs: Add framework transformation summary
  FRAMEWORK_TRANSFORMATION_COMPLETE.md
Owners: none

fix: Update automated deployment to work with actual utility APIs
  scenarios/automated-deployment/README.md
  scenarios/automated-deployment/run_automated_deployment.py
Owners: none

docs: Add automated deployment validation report
  AUTOMATED_DEPLOYMENT_VALIDATION.md
Owners: none

fix: enable force delete in bulk_delete_workspaces tool
  tools/bulk_delete_workspaces.py
Owners: none

feat: add Trial capacity support via config
  REVALIDATION_AFTER_CLEANUP.md
  scenarios/automated-deployment/product_config.yaml
  scenarios/automated-deployment/run_automated_deployment.py
Owners: none

docs: update all documentation for Trial capacity support
  README.md
  REVALIDATION_AFTER_CLEANUP.md
  scenarios/automated-deployment/README.md
  scenarios/config-driven-workspace/README.md
  scenarios/feature-branch-workflow/product_descriptor.yaml
Owners: none

ux: improve visibility of user prompts across all scenarios
  scenarios/config-driven-workspace/config_driven_workspace.py
  scenarios/domain-workspace/domain_workspace_with_existing_items.py
  scenarios/feature-branch-workflow/test_feature_workflow.py
  tools/bulk_delete_workspaces.py
Owners: none

fix: apply black formatting and add ruff config
  diagnostics/check_graph_permissions.py
  diagnostics/clear_token_cache.py
  diagnostics/diagnose_fabric_permissions.py
  diagnostics/diagnose_workspaces.py
  diagnostics/verify_workspace.py
  init_new_project.py
  ops/scripts/deploy_fabric.py
  ops/scripts/health_check_fabric.py
  ruff.toml
  scenarios/automated-deployment/run_automated_deployment.py
  scenarios/config-driven-workspace/config_driven_workspace.py
  scenarios/domain-workspace/domain_workspace_with_existing_items.py
  scenarios/feature-branch-workflow/test_feature_workflow.py
  scenarios/feature-branch-workflow/validate_scenario.py
  scenarios/leit-ricoh-fresh-setup/leit_ricoh_fresh_setup.py
  scenarios/leit-ricoh-setup/leit_ricoh_setup.py
  setup/init_project_config.py
  tests/test_audit_logger.py
  tests/test_fabric_git_connector.py
  tests/test_item_naming_validator.py
  tests/test_solution.py
  tests/test_user_addition.py
  tests/validate_improvements.py
  tests/validate_solution.py
  tests/validate_v2_utilities.py
  tools/bulk_delete_workspaces.py
Owners: @your-org/devops-team

fix: add pyproject.toml with black configuration
  pyproject.toml
Owners: none

fix: add .gitattributes for consistent line endings
  .gitattributes
Owners: none

debug: add black --diff to see what needs reformatting
  .github/workflows/reusable-lint.yml
Owners: none

fix: remove trailing whitespace in Python files
  .github/workflows/reusable-lint.yml
  init_new_project.py
  scenarios/automated-deployment/run_automated_deployment.py
  scenarios/config-driven-workspace/config_driven_workspace.py
Owners: none

.github/CODEOWNERS:

# CODEOWNERS: map directories to code owners (GitHub handles/teams)
# Update organization name in project.config.json
/data/                 @your-org/data-team
/bi/                   @your-org/bi-team
/governance/           @your-org/governance-team
/integration/          @your-org/integration-team
/platform/             @your-org/platform-team
/ops/                  @your-org/devops-team
